
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Ubuntu:wght@400;500;700&display=swap');
:root {
    --blue1: #00003e;
    --blue2: #00007c;
    --blue3:#0000ba;
    --blue4:#ffffff;
    --blue5:#c2c2c2;
    --seablue: #95dbe5;
    --success: #078282;
    --blue: #95dbe5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px; /* MAX WIDTH UNTUK LEBAR */
    padding: 0 80px;
    margin: auto;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999; /* Menaikan 1 posisi ke atas */
    padding: 15px 0;
    font-family: 'Ubuntu', 'sans-serif';
    transition: 0.3s;
    
}
.navbar.sticky{
    padding: 20px 0;
    background: var(--blue4);
    border-bottom: 3px solid #0782825e;
    border-opa
}

.navbar .max-width {
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.navbar .logo a img {
    height: 45px;
    color: white;
}
.navbar .logo a span{
    color: var(--blue4);
    font-size: 35px;
}
.navbar.sticky .logo a span {
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color:white ;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar.sticky .menu li a {
    color: black;
}
.navbar .menu li a:hover {
    color: var(--blue4);
    transition: color 0.3s ease; /* EASE adalah cara masuk nya setelah di hover */
}
.navbar.sticky .menu li a:hover {
    color: black;
}
/* MENU BTN */

.menu-btn {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--success);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}
.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
    transition: 0.3s ease;
}
/* HOME SECTION */


.home {
    display: flex;
    background: url("img/asset/image.png") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', 'sans-serif';
}

.home .max-width {
    margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px; 
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: white;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: var(--success);
    color: white;
    font-size: 25px;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--success);
    transition: all 0.3s ease;
}
.home .home-content a:hover {
    color: white;
    background: none;
    transition: all 0.7s;
    
}
/* Section Alll */
.about, .services, .skills, .teams, .contact {
    font-family: 'Poppins', 'sans-serif';
    background: var(--blue);
}
.about .about-content,
.services .serv-content , .skills .skills-content, .contact-content{
    display: flex;
    flex-wrap: wrap; /* Flex wrap untuk agar kebawah saat udah full */
    align-content: center;
    justify-content: space-between;
}
section{
    padding: 100px;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', 'sans-serif';
    
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}
/* ABOUT */



.about .title::after {
    content: ;
}
section .title::after{

    position: absolute;
    font-size: 20px;
    color: var(--blue4);
    bottom: -7px;
    left: 50%;
    padding: 5px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}


.about .about-content .left {
    width: 45%;
}
.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right {
    width: 55%;
    margin: auto;
}
.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span {
    color: var(--success);
}
/* Biar rata kanan kiri */
.about .about-content .right p {
    text-align: justify; /* Biar rata kanan kiri */
}
.about .about-content .right a {
    display: inline-block;
    background: var(--success);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--success);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover {
    color: var(--success);
    background: none;
}

/* SERVICE STYLE */
.services, .teams {
    color: black;
    background: white;

}
.services .title::before, .teams .title::before {
    background: black;
}
.services .title::after,.teams .title::after {

    background: #111;
}
.services .serv-content .card {
    width: calc(25% - 20px);
    background: var(--success);
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover {
    background-color: var(--seablue)
}
.services .serv-content .card .box {
    transition: all 0.3s ease;
    color: white;
}
.services .serv-content .card:hover .box {
    transform: scale(1.05);
    color: black;
}
.services .serv-content .card i {
    font-size: 50px;
    color: var(--blue4);
}
.services .serv-content .card:hover i {
    color: black;
    transition: 0.4s;  

}
.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}

/* Skills */
.skills {
    background: white;
}
.skills .title::after {

}
.skills .skills-content .column {
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px ;
}
.skills .skills-content .left p {
    text-align: justify;
}
.skills .skills-content .left a, 
.teams .carousel .card .box a {
    display: inline-block;
    background: var(--blue4);
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 25px;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px solid var(--blue4);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
    color: var(--blue4);
    background: none;
}
.skills .skills-content .right {
    margin: auto;
}
.skills .skills-content .right .bars {
    margin-bottom: 15px;
} 
.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content:space-between;
}
.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: rgb(155, 154, 154);
    position: relative;
}
.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: var(--success);

}
.skills .skills-content .right .html::before {
    width: 90%;
}
.skills .skills-content .right .css::before {
    width: 75%;
}
.skills .skills-content .right .js::before {
    width: 50%;
}
.skills .skills-content .right .ppro::before {
    width: 80%;
}
.skills .skills-content .right .cdr::before {
    width: 90%;
}

/* SOSIAL MEDIA */
.teams {
    background: var(--blue);
}
.teams .title::after{
    content: ;
    color: black;
    background: var(--seablue);
}
.teams .carousel .card {
    background:var(--success);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.4s;
    color: white;
}
.teams .carousel .card:hover {
    background: #ffffff;
    color: black;
}
.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--blue4);
}
.teams .carousel .card .box h4 {
    font-weight: 700;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
    transition: 0.2s ease;
}
.teams .carousel .card:hover img,
.teams .carousel .card:hover a{
    border-color: black;
}
.teams .carousel .card:hover img {
    background: white;
}
.teams .carousel .card:hover a {
    background: white;
    color: var(--blue4);
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--blue4)!important;
    transition: ll 0.3s ease;
}
.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: var(--blue4)!important;
}

/* CONTACT CSS */
.contact {
    background: white;
}
.contact .title::after{
    content: ;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: black;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
    margin-top: 30px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid var(--success);
    background: var(--success);
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: var(--success);
    background: none;
}

/* Footer */

footer {
    background: #075e5e;
    padding: 20px 25px;
    color: white;
    text-align: center;
}
footer span {
    color: white;
    
}
footer span a {
    color: var(--blue4);
    text-decoration: none;
}
footer span a:hover {
    text-decoration: underline;
}





/* responsive */
@media(max-width: 1300px ) {
    .home .max-width {
        margin-left: 0;
    }
}
@media(max-width: 1104px ) {
    .about .about-content .left img {
        height: 250px;
        width: 250px;
    }
}
@media(max-width: 991px ) {
    .max-width {
        padding: 0 50px;
    }
    
}
@media(max-width: 950px ){
    .max-width {
        padding: 0 50px; /* Menyesuaikan kanan kiri saat responsive */
    }
    .navbar .fa-bars:before {
        color: white);
    }
    .navbar.sticky .fa-bars:before {
        color: var(--success);
    }
    .menu-btn {
        display: block ;
        z-index: 999;
        visibility: visible;
        
    }
    .menu-btn i.active:before{
        content: "\f00d"; /* Jadi silang */
        transition: all 0.5s ease;
    }
    .navbar .menu {
        position: fixed;
        background: var(--success);
        height: 100vh;
        width: 100%;
        left: -100%;    /* di kiri kan */
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }

    .navbar .menu.active{ /* Tu;isan active harus nempel*/
        left: 0;
    }
    .navbar .menu li {
        display: block; /* Agar kebawah */
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 24px;
    }
    .home .home-content .text-2 {
        font-size: 75px;

    }
    .home .home-content .text-3{
        font-size: 30px; 

    }
    .home .home-content a {
        font-size: 23px;
        padding: 6px 25px;
    }
    .about {
        padding: 40px;
    }
    .about .about-content .column {
        width: 50%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .max-width {
        max-width: 800px;
    }
    .services .serv-content .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .skills .skills-content .column {
        width: 100%;
        margin-top: 10px;
    } 
    .s-proyek{
        display: inline-block;
        overflow: auto;
    }
    .s-proyek .container-proyek .content-proyek .row .col-4 {
        width: 100%;
    }

    /* CONTACT*/
    .contact .contact-content .left {
        width: 100%;
        margin-bottom: 10px;
    }
    .contact .contact-content .right {
        width: 100%;
    }
    .contact .contact-content .right .text {
        text-align: center;
        margin-bottom: 30px;
    }
    .motto-bottom-right {
        padding: 20px;
        margin-top: 25px;
        
    }
    .motto-bottom-right h1 {
        font-size: 20pt;
    }
}
@media(max-width: 690px ) {
    section {
        padding: 20px;
    }
    .max-width {
        padding: 0 20px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 25px; 
    }
    .services .serv-content .card{
        width: 100%;
    }
    .motto-bottom-right h1 {
        font-size: 13pt;
    }
    .motto-bottom-left button {
        padding: 14px;
    }
}

